apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata: 
  name: web-app-blue-hpa
  # namespace: prod-app
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: web-app-blue
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60