apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - namespace.yaml
  - configmap.yaml
  - hpa-blue.yaml
  - hpa-green.yaml
  - pdb-blue.yaml
  - pdb-green.yaml


labels:
  - includeSelectors: false
    pairs:
      app.kubernetes.io/part-of: web-app


patches:
  - path: patch-blue-image.yaml

  - target:
      group: networking.k8s.io
      version: v1
      kind: Ingress
      name: web-app-ingress
      namespace: prod-app
    path: traffic-patch.yaml
