apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app-green
spec:
  template:
    spec:
      containers:
        - name: web-app
          image: 608827180555.dkr.ecr.ap-south-1.amazonaws.com/web-app:__IMAGE_TAG__