apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: web-app-ingress
  annotations:
    # Weighted forward action: weights provided by CI per step
    alb.ingress.kubernetes.io/actions.forward-blue-green: >-
      {"type":"forward","forwardConfig":{"targetGroups":[
        {"serviceName":"web-svc-blue","servicePort":"80","weight":90},
        {"serviceName":"web-svc-green","servicePort":"80","weight":10}
      ]}}